pandas.read_json(path_or_buf=None, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None)

In [1]:
import pandas as pd
page1 = pd.read_json('/Users/jeffcoggshall/Dropbox/McNultyTeam1/data/employerdata_1.json')
df1 = pd.DataFrame(page1["response"].ix["employers"])
df1.columns

Index(['careerOpportunitiesRating', 'ceo', 'compensationAndBenefitsRating',
       'cultureAndValuesRating', 'exactMatch', 'featuredReview', 'id',
       'industry', 'industryId', 'industryName', 'isEEP', 'name',
       'numberOfRatings', 'overallRating', 'ratingDescription',
       'recommendToFriendRating', 'sectorId', 'sectorName',
       'seniorLeadershipRating', 'squareLogo', 'website',
       'workLifeBalanceRating'],
      dtype='object')

In [2]:
df1["cultureAndValuesRating"]

0    3.0
1    3.4
2    3.5
3    3.2
4    4.0
5    3.2
6    3.0
7    3.7
8    3.6
9    3.1
Name: cultureAndValuesRating, dtype: object

In [3]:
page2 = pd.read_json('/Users/jeffcoggshall/Dropbox/McNultyTeam1/data/employerdata_2.json')
df2 = pd.DataFrame(page2["response"].ix["employers"])
df2.columns

Index(['careerOpportunitiesRating', 'ceo', 'compensationAndBenefitsRating',
       'cultureAndValuesRating', 'exactMatch', 'featuredReview', 'id',
       'industry', 'industryId', 'industryName', 'isEEP', 'name',
       'numberOfRatings', 'overallRating', 'ratingDescription',
       'recommendToFriendRating', 'sectorId', 'sectorName',
       'seniorLeadershipRating', 'squareLogo', 'website',
       'workLifeBalanceRating'],
      dtype='object')

In [7]:
df2["industry"]

0             Computer Hardware & Software
1           Home Centers & Hardware Stores
2    Fast-Food & Quick-Service Restaurants
3    Fast-Food & Quick-Service Restaurants
4             Computer Hardware & Software
5         Health Care Services & Hospitals
6                     Drug & Health Stores
7    Investment Banking & Asset Management
8        General Merchandise & Superstores
9                         Federal Agencies
Name: industry, dtype: object

In [11]:
df2["recommendToFriendRating"]

0    0.8
1    0.7
2    0.8
3    0.5
4    0.5
5    0.4
6    0.5
7    0.7
8    0.6
9    0.8
Name: recommendToFriendRating, dtype: object

In [43]:
ceo_df = pd.DataFrame(list(df2["ceo"]))

In [44]:
ceo_df

,image,name,numberOfRatings,pctApprove,pctDisapprove,title
0,{'src': 'https://media.glassdoor.com/people/sq...,Satya Nadella,4139,93,7,CEO
1,{'src': 'https://media.glassdoor.com/people/sq...,Robert A. Niblock,3510,72,28,Chairman and CEO
2,{'src': 'https://media.glassdoor.com/people/sq...,Howard D. Schultz,6346,89,11,"Chairman, President, and CEO"
3,{'src': 'https://media.glassdoor.com/people/sq...,Steve Easterbrook,1376,69,31,President and Chief Executive Officer
4,{'src': 'https://media.glassdoor.com/people/sq...,Meg Whitman,5660,70,30,CEO
5,{'src': 'https://media.glassdoor.com/people/sq...,Larry J. Merlo,2827,36,64,President and CEO
6,NaN,Stefano Pessina,1084,48,52,Executive Vice Chairman and Acting CEO
7,{'src': 'https://media.glassdoor.com/people/sq...,Jamie Dimon,3816,87,13,"Chairman, President, and CEO"
8,{'src': 'https://media.glassdoor.com/people/sq...,Jeff Bezos,5290,80,20,"Chairman, President, and CEO"
9,{'src': 'https://media.glassdoor.com/people/sq...,General Mark A. Welsh,3000,83,17,Chief of Staff

In [14]:
df2_short = df2[["name","cultureAndValuesRating","numberOfRatings","ceo"]]

In [15]:
df2_short

,name,cultureAndValuesRating,numberOfRatings,ceo
0,Microsoft,3.7,14074,"{'name': 'Satya Nadella', 'pctApprove': 93, 'n..."
1,Lowe's,3.4,9768,"{'name': 'Robert A. Niblock', 'pctApprove': 72..."
2,Starbucks,4.0,10879,"{'name': 'Howard D. Schultz', 'pctApprove': 89..."
3,McDonald's,2.9,10612,"{'name': 'Steve Easterbrook', 'pctApprove': 69..."
4,Hewlett-Packard,3.2,15025,"{'name': 'Meg Whitman', 'pctApprove': 70, 'num..."
5,CVS Health,2.7,8076,"{'name': 'Larry J. Merlo', 'pctApprove': 36, '..."
6,Walgreens,3.0,8118,"{'pctApprove': 48, 'name': 'Stefano Pessina', ..."
7,J.P. Morgan,3.3,9426,"{'name': 'Jamie Dimon', 'pctApprove': 87, 'num..."
8,Amazon.com,3.2,9553,"{'name': 'Jeff Bezos', 'pctApprove': 80, 'numb..."
9,US Air Force,4.1,7883,"{'name': 'General Mark A. Welsh', 'pctApprove'..."

In [45]:
shortceo = pd.concat([df2_short,ceo_df],axis=1)

In [46]:
shortceo

,name,cultureAndValuesRating,numberOfRatings,ceo,image,name,numberOfRatings,pctApprove,pctDisapprove,title
0,Microsoft,3.7,14074,"{'name': 'Satya Nadella', 'pctApprove': 93, 'n...",{'src': 'https://media.glassdoor.com/people/sq...,Satya Nadella,4139,93,7,CEO
1,Lowe's,3.4,9768,"{'name': 'Robert A. Niblock', 'pctApprove': 72...",{'src': 'https://media.glassdoor.com/people/sq...,Robert A. Niblock,3510,72,28,Chairman and CEO
2,Starbucks,4.0,10879,"{'name': 'Howard D. Schultz', 'pctApprove': 89...",{'src': 'https://media.glassdoor.com/people/sq...,Howard D. Schultz,6346,89,11,"Chairman, President, and CEO"
3,McDonald's,2.9,10612,"{'name': 'Steve Easterbrook', 'pctApprove': 69...",{'src': 'https://media.glassdoor.com/people/sq...,Steve Easterbrook,1376,69,31,President and Chief Executive Officer
4,Hewlett-Packard,3.2,15025,"{'name': 'Meg Whitman', 'pctApprove': 70, 'num...",{'src': 'https://media.glassdoor.com/people/sq...,Meg Whitman,5660,70,30,CEO
5,CVS Health,2.7,8076,"{'name': 'Larry J. Merlo', 'pctApprove': 36, '...",{'src': 'https://media.glassdoor.com/people/sq...,Larry J. Merlo,2827,36,64,President and CEO
6,Walgreens,3.0,8118,"{'pctApprove': 48, 'name': 'Stefano Pessina', ...",NaN,Stefano Pessina,1084,48,52,Executive Vice Chairman and Acting CEO
7,J.P. Morgan,3.3,9426,"{'name': 'Jamie Dimon', 'pctApprove': 87, 'num...",{'src': 'https://media.glassdoor.com/people/sq...,Jamie Dimon,3816,87,13,"Chairman, President, and CEO"
8,Amazon.com,3.2,9553,"{'name': 'Jeff Bezos', 'pctApprove': 80, 'numb...",{'src': 'https://media.glassdoor.com/people/sq...,Jeff Bezos,5290,80,20,"Chairman, President, and CEO"
9,US Air Force,4.1,7883,"{'name': 'General Mark A. Welsh', 'pctApprove'...",{'src': 'https://media.glassdoor.com/people/sq...,General Mark A. Welsh,3000,83,17,Chief of Staff

In [8]:
!ls
!cd Dropbox

GlassdoorData.ipynb   Scraping_Indeed.ipynb
JSON Reading.ipynb    first50.pkl
/bin/sh: line 0: cd: Dropbox: No such file or directory